
<%#  ==================  HERO SECTION   ====================== %>
<section class="dark:bg-coolGray-800 dark:text-coolGray-100">
  <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
    <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
      <h1 class="text-5xl font-bold leading-none sm:text-6xl">Connecting
        <span class="dark:text-blue-400">People</span> and<span class="dark:text-blue-400"> Places
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">Serving the entire community.
        <br class="hidden md:inline lg:hidden">
         Wherever you're going… we're going too.
      </p>
      <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
        <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded dark:bg-blue-400 dark:text-coolGray-900">Book Now</a>
        <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold border rounded dark:border-coolGray-100">Service</a>
      </div>
    </div>
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
      <img src="https://www.freeiconspng.com/uploads/bus-png-3.png" width="650" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 transition duration-500 hover:scale-125">
    </div>
  </div>
</section>
<%# ============================================================ %>




<%#  ==================  GALLERY SECTION   ====================== %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Gallery</h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">Some shots of out buses interior and exterior.</p>
    </div>
    <!-- text - end -->

    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 md:gap-6 xl:gap-8">
      <!-- image - start -->
      <a href="#" class="group h-48 md:h-96 flex justify-end items-end bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
        <img src="https://images.unsplash.com/photo-1570125909517-53cb21c89ff2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" loading="lazy" alt="Photo by Minh Pham" class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" />

        <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>

        <span class="inline-block text-gray-200 text-xs md:text-sm border border-gray-500 rounded-lg backdrop-blur relative px-2 md:px-3 py-1 mr-3 mb-3">Exterior</span>
      </a>
      <!-- image - end -->

      <!-- image - start -->
      <a href="#" class="group h-48 md:h-96 flex justify-end items-end bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
        <img src="https://images.unsplash.com/photo-1570125910130-67cb59733d1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" loading="lazy" alt="Photo by Lorenzo Herrera" class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" />

        <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>

        <span class="inline-block text-gray-200 text-xs md:text-sm border border-gray-500 rounded-lg backdrop-blur relative px-2 md:px-3 py-1 mr-3 mb-3">Interior</span>
      </a>
      <!-- image - end -->

      <!-- image - start -->
      <a href="#" class="group h-48 md:h-96 flex justify-end items-end bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
        <img src="https://images.unsplash.com/photo-1570125910659-52b4b69c9679?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" loading="lazy" alt="Photo by Magicle" class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" />

        <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>

        <span class="inline-block text-gray-200 text-xs md:text-sm border border-gray-500 rounded-lg backdrop-blur relative px-2 md:px-3 py-1 mr-3 mb-3">Luxury</span>
      </a>
      <!-- image - end -->
    </div>
  </div>
</div>
<%# ============================================================ %>

<br/><br/><br/>


<%#  ==================  TESTIMONIALS SECTION   ====================== %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-12">What others say about our buses and services</h2>

    <div class="grid md:grid-cols-2 gap-4 md:gap-8">
      <!-- quote - start -->
      <div class="flex flex-col items-center bg-indigo-500 rounded-lg gap-4 md:gap-6 px-8 py-6">
        <div class="max-w-md text-white lg:text-lg text-center">“Very easy to book and reasonably priced with comfy seats. Our driver was great!”</div>

        <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
          <div class="w-12 md:w-14 h-12 md:h-14 bg-gray-100 border-2 border-indigo-100 rounded-full overflow-hidden">
            <img src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=112" loading="lazy" alt="Photo by Radu Florin" class="w-full h-full object-cover object-center" />
          </div>

          <div>
            <div class="text-indigo-50 text-sm md:text-base font-bold text-center sm:text-left">Ahmed Ali</div>
            <p class="text-indigo-200 text-sm md:text-sm text-center sm:text-left">Customer / Economy Class</p>
          </div>
        </div>
      </div>
      <!-- quote - end -->

      <!-- quote - start -->
      <div class="flex flex-col items-center bg-indigo-500 rounded-lg gap-4 md:gap-6 px-8 py-6">
        <div class="max-w-md text-white lg:text-lg text-center">“Luxury bus service with good amenities and services. The traveling is luxurious. The seats are comfortable. The food is delicious and there are options to choose from a menu. The waiting area is cosy.”</div>

        <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
          <div class="w-12 md:w-14 h-12 md:h-14 bg-gray-100 border-2 border-indigo-100 rounded-full overflow-hidden">
            <img src="https://images.unsplash.com/photo-1532073150508-0c1df022bdd1?auto=format&q=75&fit=crop&w=112" loading="lazy" alt="Photo by christian ferrer" class="w-full h-full object-cover object-center" />
          </div>

          <div>
            <div class="text-indigo-50 text-sm md:text-base font-bold text-center sm:text-left">Fiza Ali</div>
            <p class="text-indigo-200 text-sm md:text-sm text-center sm:text-left">Customer / Business Class</p>
          </div>
        </div>
      </div>
      <!-- quote - end -->
    </div>
  </div>
</div>
<%# ============================================================ %>


<br/><br/><br/><br/><br/>

<%#  ==================  TEAMS SECTION   ====================== %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-8 md:mb-12">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Our Buses, Fleets and Customers</h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">Everyday there are new additions!</p>
    </div>
    <!-- text - end -->

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 lg:gap-8">
      <!-- stat - start -->
      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 lg:p-8">
        <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">5000+</div>
        <div class="text-sm sm:text-base font-semibold">Passengers</div>
      </div>
      <!-- stat - end -->

      <!-- stat - start -->
      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
        <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">280+</div>
        <div class="text-sm sm:text-base font-semibold">Pilots</div>
      </div>

      <!-- stat - start -->
      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
        <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">150+</div>
        <div class="text-sm sm:text-base font-semibold">Buses</div>
      </div>
      <!-- stat - end -->

      <!-- stat - start -->
      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
        <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">A couple</div>
        <div class="text-sm sm:text-base font-semibold">Coffee breaks</div>
      </div>
      <!-- stat - end -->
    </div>
  </div>
</div>
<%# ============================================================ %>

<br/><br/><br/>

<%#  ==================  PRICE SECTION   ====================== %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-lg px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Choose a Class</h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">We provide two classes in our buses section. Each class has merits and pricing according to customers needs.</p>
    </div>
    <!-- text - end -->

    <div class="flex flex-wrap justify-center items-center gap-4 sm:gap-0">
      <!-- left side - start -->
      <div class="w-full sm:w-1/2 lg:w-1/3 bg-gray-800 rounded-lg sm:rounded-r-none p-6 sm:p-8">
        <div class="mb-4">
          <h3 class="text-gray-100 text-2xl sm:text-3xl font-semibold">Economy Class</h3>
          <p class="text-gray-300">Comfy Seats + Entertainment</p>
        </div>

        <div class="space-x-2 mb-4">
          <span class="text-gray-100 text-4xl font-bold">From Rs. 500   </span>
          <%# <span class="text-gray-300 text-2xl line-through">$49</span> %>
        </div>

        <ul class="text-gray-300 space-y-2 mb-6">
          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Comfortable Seats</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Entertainment</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Wifi</span>
          </li>
          <!-- feat - end -->
        </ul>

        <a href="#" class="block bg-gray-500 hover:bg-gray-600 focus-visible:ring ring-indigo-300 text-gray-100 active:text-gray-300 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Get the Economy Class</a>
      </div>
      <!-- left side - end -->

      <!-- right side - start -->
      <div class="w-full sm:w-1/2 bg-gradient-to-tr from-indigo-500 to-violet-400 rounded-lg shadow-xl p-6 sm:p-8">
        <div class="flex flex-col lg:flex-row justify-between items-start gap-4 mb-4">
          <div>
            <h3 class="text-white text-2xl sm:text-3xl font-semibold">Business Class</h3>
            <p class="text-indigo-100">Luxury Seats + Entertainment + Food</p>
          </div>

          <span class="inline-block order-first lg:order-none bg-indigo-200 bg-opacity-50 text-white text-xs font-semibold tracking-wider uppercase rounded-full px-3 py-1">Best value</span>
        </div>

        <div class="space-x-2 mb-4">
          <span class="text-white text-4xl font-bold">From Rs. 800</span>
          <%# <span class="text-indigo-100 text-2xl line-through">$89</span> %>
        </div>

        <ul class="text-indigo-100 space-y-2 mb-6">
          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Luxury Seats</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Delicious Food</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Wifi</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Drinks</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>

            <span>Premium support</span>
          </li>
          <!-- feat - end -->
        </ul>

        <a href="#" class="block bg-indigo-200 bg-opacity-50 hover:bg-indigo-300 active:bg-indigo-400 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Get the Business Class</a>
      </div>
      <!-- right side - end -->
    </div>
  </div>
</div>
<%# ============================================================ %>

<br/><br/><br/><br/><br/><br/>